body > h2 {
    text-align: center;
    letter-spacing: .5rem;
    font-size: .8rem;
    margin: 4vh 0 4vh 0;
}

.scrollable {
    overflow: hidden;

    display: flex;
    flex-direction: row;

    white-space: nowrap;
    
    gap: 100px;

}

@media only screen and (max-width: 1024px) {
    .scrollable {
        overflow-x: auto;
    }
    
    body {
        padding: 5%
    }
}

.image {
    position: relative;
    max-width: 300px;
}

.image > img {
    object-fit: cover;
    
    max-height: 75vh;
    max-width: 300px;

    background-attachment: fixed;
}

.image > :nth-child(2) {
    position: absolute;

    width: 100%;

    color: white;

    padding: 4% 3% 4% 3%;

    font-size: 1rem;

    text-align: center;

    top: 0;

    text-shadow: 1px 1px 2px black;
}

.image > :nth-child(3) > a {
    

    
}

.linkcontainer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.linkcontainer a {
    max-width: 250px;
    font-size: 1.5rem;

    text-shadow: 1px 1px 2px black;

    padding: 2% 6% 2% 6%;

    text-decoration: none;
    background-color: #4F4F4F;

    text-align: center;
}

#jurassic > :nth-child(2) {
    background-color: #800080;
}

#jurassic > :nth-child(3) > a {
    color:#FF00FF; 
    border: 3px solid #FF00FF;
}

#prehistoric > :nth-child(2) {
    background-color: #FF8787;
}

#prehistoric > :nth-child(3) > a {
    color:#FF8787; 
    border: 3px solid #FF8787;
}

#avian > :nth-child(2) {
    background-color: #7D7DFF;
}

#avian > :nth-child(3) > a {
    color:#7D7DFF; 
    border: 3px solid #7D7DFF;
}

#lost > :nth-child(2) {
    background-color: #94FF94;
}

#lost > :nth-child(3) > a {
    color:#94FF94; 
    border: 3px solid #94FF94;
}

#cretaceous > :nth-child(2) {
    background-color: #5A5A5A;
}

#cretaceous > :nth-child(3) > a {
    color:#FFFFFF; 
    border: 3px solid #FFFFFF;
}

#velociraptor > :nth-child(2) {
    background-color: #FFD17C;
}

#velociraptor > :nth-child(3) > a{
    color:#FFD17C; 
    border: 3px solid #FFD17C;
}

.scrollable > :first-child {
    margin-left: 50vw;
}

.scrollable > :last-child {
    margin-right: 50vw;
}

.firstlink {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 4vh 0;
}

.firstlink a {
    display: inline-block;

    font-size: 1.5rem;
    
    border: 2px solid black;
    padding: .5%;
    margin: 4vh 0 0 0;

    text-decoration: none;
}

.desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 4vh 0 4vh 0;
}

.desc > section {
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
    gap: 2vh;
}

.desc > img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.desc > section > div {
    margin-top: 1vh;
}

.desc > section > div > a {
    border: 2px solid black;
    padding: 1%;
    margin: 4vh 0 0 0;

    text-decoration: none;
    font-size: 1.5rem;
}

.desc > section > ul {
    margin-left: 2vw;
}