body {
    color: white;
    background-image: url("../imgs/sample_background.jpg");
}   

#hotelstuff {
    width: 100%;
    text-align: center;
    padding: 1vh 0 1vh 0;
    background-color: rgba(0, 0, 139, 0.5);
    color: yellow
}

body > h1 {
    width: 100%;
    text-align: center;
    margin: 4vh 0 4vh 0;
    filter: drop-shadow(0 0 8px black);
}

.imgscontain {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgs {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 4vh;
    filter: drop-shadow(0 0 8px black);
}

.imgs img {
    width: 100%;
    max-width: 150px;
}


.buttons {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin-bottom: 4vh;
}

.buttons form input {
    padding: 1vh 1vw 1vh 1vw

}