.container {
    margin-top: 2%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    
    gap: 3%;
}

.container h2, .emailus h2, .callus h2 {
    margin-bottom: 2vh;
}

.container li {
    margin-bottom: 2vh;
}

.container a {
    color: revert;
}

.container img {
    max-width: 35px;
    max-height: 35px;
    transform: translateY(-.5vh);
}

.desc {
    width: 100%;
    max-width: 500px;
}

.desc p {
    margin-bottom: 2.5vh;
}

.desc ul {
    margin: auto;
    width: 90%;
}

.callus > section, .emailus > section {
    display: flex;
    gap: 1vw;
}

.callus > ul > li > p, .emailus > ul > li > p {
    font-family: 'Inter-Bold';
}

/* staff lol */
.staff {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3vw;
    margin: 4vh 0 5vh 0;
}

.staff > section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 2vh;
}

.staff img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.staffdesc {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

@media only screen and (max-width: 1100px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .desc {
        max-width: 100vw;
        padding: 0 2vw 0 2vw;
        order: -1
    }
    .callus, .emailus {
        width: 100%;
        max-width: 350px;
    }
}

@media only screen and (max-width: 750px) {
    .callus, .emailus {
        max-width: 100vw;
        text-align: center;
    }

    .callus section, .emailus section {
        transform: translateX(38vw)
    }
}