body > h1 {
    margin: 4vh 0 4vh 0;
    text-align: center;
}

.whole {
    margin: 8vh  0 8vh 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    height: 70%;
}

section input {
    margin: 20px;
    width: 350px;
    height: 50px;
}

.summary {
    width: 500px;
    height: 300px;
}

#hotelstuff {
    width: 100%;
    text-align: center;
    padding: 1vh 0 1vh 0;
    background-color: grey;
    color: white
}

body > h1 {
    width: 100%;
    text-align: center;
    margin: 4vh 0 4vh 0;
}