body {
    color: white;
    background-image: url("../imgs/sample_background.jpg");
}

body > h1 {
    margin: 4vh 0 4vh 0;
    text-align: center;
    filter: drop-shadow(0 0 8px black);
}

.whole {
    margin: 8vh  0 8vh 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    height: 70%;
    filter: drop-shadow(0 0 8px black);
}

section input {
    margin: 20px;
    width: 350px;
    height: 50px;
}

.summary {
    width: 500px;
    height: 300px;
    filter: drop-shadow(0 0 8px black);
}

.summary h3 {
    padding-bottom: 1%
}

.summary h4 {
    padding-top: 4%;
    padding-bottom: 1%;
}

#hotelstuff {
    width: 100%;
    text-align: center;
    padding: 1vh 0 1vh 0;
    background-color: rgba(0, 0, 139, 0.5);
    color: white
}

body > h1 {
    width: 100%;
    text-align: center;
    margin: 4vh 0 4vh 0;
}