#maintitle {
    margin: 4vh 0 4vh 0;
    text-align: center;
}

#pictures {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 4vh;
}

#pictures img {
    width: 50vw;
    object-fit: cover;
}

#pictures {
    margin-bottom: 4vh
}