body { 
    background-image: url("../imgs/sample_background.jpg");
}

#maintitle {
    margin: 4vh 0 4vh 0;
    text-align: center;
    color: white;
    filter: drop-shadow(0 0 8px black);
}

#pictures {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    gap: 4vh;
}

#pictures img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    filter: drop-shadow(0 0 8px black);
}

#pictures {
    margin-bottom: 4vh
}

@media only screen and (max-width: 850px) {
    #pictures {
        padding: 0 4vw 0 4vw;
    }
}