@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter/static/Inter-Light.ttf");
}

@font-face {
    font-family: 'Inter-light';
    src: url("../fonts/Inter/static/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: 'Inter-bold';
    src: url("../fonts/Inter/static/Inter-Medium.ttf");
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

a {
    color: black;
}

/* HEADER STUFF */

.header {
    background-color: #b7a99a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: .7rem;
}

.header>h1 {
    margin-right: 2%;
}

.header>h1:last-child {
    margin-right: 10px;
}

.header>h1>a {
    text-decoration: none;
}

#whyus,
#home {
    text-decoration: underline;
}

.header>figure {
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: 10px;
}

.header>figure>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .header>figure{
        margin-left: 0;
    }
    .header>h1:last-child {
        margin-right: 0;
    }
}

/* FOOTER STUFF */
footer {
    background-color: #4A4A4A;
    color: white;

    bottom: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer>h2 {
    font-family: 'Inter-light';
    font-size: 1.5rem;

    width: 100vw;
    padding-top: 1%;
    padding-left: 10vw;
}

footer>section {
    width: 15vw;
    margin: 1%;
    margin-bottom: 0;
    line-height: 1.1rem;
}

footer>section>h3 {
    font-size: .9rem
}

footer>section>ul {
    font-size: .7rem
}

footer>section>ul {
    margin: 1%;
}

footer>section:nth-child(3) {
    width: 35vw;
}

footer>section:last-child {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}

footer>section:last-child>a {
    padding: 1%;
    color: white;
    text-decoration: none;
}

/* SCROLLBAR EDITS */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: grey;
}

::-webkit-scrollbar-thumb {
    background: darkred;
}

::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}