body {
    
}

#sidebar-text p:not(:last-child), #intro p {
    display: relative;
    margin-bottom: 5%
}

#merge {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4%;
}

.container {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 540px;
    height: 50%;

    margin-top: 2.5%;
    margin-bottom: 2.5%;

}

#sidebar {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(8, 8, 8);

    color: white;

    border: 2px solid black;
    border-radius: 15px;

    max-width: 450px;
    min-height: 800px;

    padding: 0 10% 0 10%;
}

#sidebar>a { /* SHOW ME - BUTTON */
    color: white;
    background-color: black;

    font-size: 1.5rem;

    border: 2px solid white;
    padding: 5%;

    text-decoration: none;
}

#intro {
    display:flex;
    flex-flow: column;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
    
    min-height: 500px;
    max-width: 1500px;
}

#intro > h2 {
    padding: 0 0 1% 0;
}


#links {
    display:flex;
    flex-flow: row wrap;
    gap: 2vw;
}

#links > a {
    display: inline-block;

    font-size: 1.5rem;
    
    border: 2px solid black;
    padding: 3%;

    text-decoration: none;
}

.nav {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    justify-content: space-between;

    transform: translate(0, 40vh);
    padding: 1%;

    opacity: 50%;
}

#left, #right {
    width: 60px;
    height: 60px;
}


#screens {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#screens img {
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#s1 {
    right: 0;
}

#s2 {
    right: -100vw;
}

#s3 {
    right: -200vw;
}


@media only screen and (max-width: 560px) {
    #intro {
        margin: 0 4vw 0 4vw;
    }
}

@media only screen and (max-width: 475px) {
    #sidebar {
        margin: 0 4vw 0 4vw;
    }
}