#merge {
    display: flex;
    justify-content: center; 
}

#sidebar {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(8, 8, 8);

    color: white !important;
    
    height: 65vh;
    width: 30vw;

    gap: 5%;

    margin-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#sidebar>a {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;

    text-decoration: none;
}

.intro {
    display:flex;
    flex-flow: column;

    background-color: rgb(255, 255, 255);
    
    height: 90vh;
    width: 45%;
    margin: 5%;

    gap: 2.5%;
}

.intro>a {
    padding: .5%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 2%;
    width: 20%;
    font-size: 1rem;
}

#links {
    display:flex;
    flex-flow: row wrap;
    gap: 2vw;
}

#links > a {
    font-size: 1.5rem;
    padding: 1%;
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
}
