body {
    background-image: url("../imgs/sample_background.jpg");
}

body > h2, body > h1 {
    text-align: center;
    margin: 2% 0 2% 0;
    color: white;
    filter: drop-shadow(0 0 8px black);
}

section img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.location {
    display:flex;
    align-items: center;
    margin-top: 5%;
    gap: 1%;
}

.location>img {
    width: 15px;
    height: 15px;
}

section.photo {
    width: 50%;
    align-self: stretch;
}

.flex.center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1350px; /*2(75)+3(400)*/
}



.season, .explarge {
    filter: drop-shadow(0 0 8px black);
    color: white;

    display: inline-flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

    margin: 0 0 4% 0;
}

.explarge {
    margin: 4% 0 4% 0;
    
}

.season > section:not(.photo), .explarge > section:not(.photo)  {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    align-self: stretch;
    justify-content: center;
    background-color: #8b0000;
    padding: 1rem;
    width: 50%;
}

#cards {
    
    color: white;

    display: flex;
    flex-flow: row wrap;

    gap: 75px;

    justify-content: center;
    text-align: left;
}

.exp img {
    max-width: 400px;
    max-height: 400px;
}

.exp {
    filter: drop-shadow(0 0 8px black);
    display: flex;
    flex-flow: column wrap;
    
    background-color: #00919c;
}

.exp > section {
    max-width: 400px;
    padding: 3% 5% 3% 5%;
}

.exp > section:last-child {
    margin-top: auto;
}

.button {
    text-align: center;
    margin: 2% 0 2% 0;
    color: white;
}

.button > a {
    display: inline-block;

    font-size: 1.5rem;
    
    border: 2px solid yellow;
    color: white;
    padding: .5%;
    margin: 1% 0 0 0;

    text-decoration: none;
}

.button > a:hover {
    color: #be0000
}

@media only screen and (max-width: 1375px) {
    .flex.center {
        padding: 0 4vw 0 4vw;
    }
    #cards {
        padding: 0 4vw 0 4vw;
    }
}