body {
    background-image: url("../imgs/sample_background.jpg");
    color: white;
}

#scrollindi {
    position: absolute;
    bottom: 1.5vh;
    text-align: center;
    width: 100%;
    color: white;
    filter: drop-shadow(0 0 8px black);
}

.frontpage img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.frontpage h1 {
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;

    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 100%;
    height: 100px;
    max-height: 100px;

    top: 45vh;

    color: yellow;
    
}

.frontpage {
    background-color: rgba(0, 0, 0, 0.5);
}

.intro {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    padding: 4vh 0 4vh 0;
}

.intro h2 {
    text-align: center;
    width: 100%;
}

.intro p {
    max-width: 1000px;
}

.timeline, .future {
    margin-top: 4vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 5vw;

    filter: drop-shadow(0 0 8px black);
}

.timeline section, .future section {
    max-width: 350px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.timeline section:not(:last-child) {
    align-content: flex-end;
}

.dream, .proud, .roadmap {
    margin-top: 4vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 5vw;

    filter: drop-shadow(0 0 8px black);
}

.dream section, .proud section, .roadmap section {
    max-width: 800px;
}

hr {
    margin: 8vh 0 4vh 0;
}

.trustworthy {
    margin-bottom: 4vh;
    text-align: center;
    
    filter: drop-shadow(0 0 8px black);
}

.trustworthy > a {
    display: inline-block;

    font-size: 1.5rem;
    
    border: 2px solid yellow;
    padding: .5%;
    margin: 1% 0 0 0;

    text-decoration: none;
}

.trustworthy > a:hover {
    color: #be0000
}

.timeline img, .dream img, .proud img, .future img, .roadmap img {
    max-width: 550px;
    width: 100%;
}


@media only screen and (max-width: 1024px) {
    .intro {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media only screen and (max-width: 800px) {
    .dream section, .proud section, .roadmap section {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}